lib/schema/pain.008.001.02.ch.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2015, SIX Interbank Clearing AG
CH Version fuer pain.008 Schweizer Lastschrfitverfahren: xmlns="http://www.six-interbank-clearing.com/de/pain.008.001.02.ch.03.xsd"
First part (.ch):   Identification for this CH version
Last part (.03)  :   Version of this scheme

Based on ISO pain.008.001.02 (urn:iso:std:iso:20022:tech:xsd:pain.008.001.02)

Anregungen und Fragen zu diesem Dokument können an das jeweilige Finanzinstitut gerichtet werden. 
Allgemeine Anregungen können auch bei der SIX Interbank Clearing AG unter folgender Adresse angebracht werden:  pm@six-group.com
  
History
30.04.2010  V01  initial version for Swiss SEPA DD, targetNamespace="http://www.iso-payments.ch/std/iso20022/ch/pain.008.001.02.ch.01.xsd"  File:pain.008.001.02.ch.01.xsd
07.05.2015  V02  initial version for Swiss Direct Debit, targetNamespace="http://www.iso-payments.ch/std/iso20022/ch/pain.008.001.02.ch.02.xsd"  File:pain.008.001.02.ch.02.xsd
30.11.2015  V03  Element CdtrAgt/Othr zugelassen, targetNamespace="http://www.iso-payments.ch/std/iso20022/ch/pain.008.001.02.ch.03.xsd"  File:pain.008.001.02.ch.03.xsd
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/pain.008.001.02.ch.03.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.six-interbank-clearing.com/de/pain.008.001.02.ch.03.xsd" elementFormDefault="qualified">
	<xs:element name="Document" type="Document_CH_pain008"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="AccountIdentification4Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="IBAN" type="IBAN2007Identifier"/>
						<xs:element name="Othr" type="GenericAccountIdentification1_CH_pain008"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount_CH_pain008">
		<xs:simpleContent>
			<xs:restriction base="ActiveOrHistoricCurrencyAndAmount">
				<xs:maxInclusive value="999999999.99"/>
				<xs:minInclusive value="0.01"/>
				<xs:totalDigits value="11"/>
				<xs:fractionDigits value="2"/>
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_pain008_2">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_pain008_2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AccountIdentification4Choice_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="CategoryPurpose1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
						<xs:element name="Prtry" type="Max35Text_CH_pain008_2"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="ContactDetails2">
				<xs:sequence>
					<xs:element name="Nm" type="Max140Text_CH_pain008" minOccurs="0"/>
					<xs:element name="Othr" type="Max35Text_CH_pain008_2" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceInformation2">
				<xs:sequence>
					<xs:element name="Tp" type="CreditorReferenceType2"/>
					<xs:element name="Ref" type="Max35Text_CH_pain008_2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerDirectDebitInitiationV02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader39"/>
			<xs:element name="PmtInf" type="PaymentInstructionInformation4" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerDirectDebitInitiationV02_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="CustomerDirectDebitInitiationV02">
				<xs:sequence>
					<xs:element name="GrpHdr" type="GroupHeader39_CH_pain008"/>
					<xs:element name="PmtInf" type="PaymentInstructionInformation4_CH_pain008" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DirectDebitTransactionInformation9">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification1"/>
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="Dbtr" type="PartyIdentification32"/>
			<xs:element name="DbtrAcct" type="CashAccount16"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectDebitTransactionInformation9_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="DirectDebitTransactionInformation9">
				<xs:sequence>
					<xs:element name="PmtId" type="PaymentIdentification1_CH_pain008"/>
					<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount_CH_pain008"/>
					<xs:element name="UltmtCdtr" type="PartyIdentification32_CH_pain008_5" minOccurs="0"/>
					<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4_CH_pain008_2"/>
					<xs:element name="Dbtr" type="PartyIdentification32_CH_pain008_2"/>
					<xs:element name="DbtrAcct" type="CashAccount16_CH_pain008"/>
					<xs:element name="UltmtDbtr" type="PartyIdentification32_CH_pain008_5" minOccurs="0"/>
					<xs:element name="RmtInf" type="RemittanceInformation5_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="CstmrDrctDbtInitn" type="CustomerDirectDebitInitiationV02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="Document">
				<xs:sequence>
					<xs:element name="CstmrDrctDbtInitn" type="CustomerDirectDebitInitiationV02_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
					<xs:element name="Othr" type="GenericFinancialIdentification1_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7_CH_pain008_2">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="GenericAccountIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="Max34Text_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="GenericFinancialIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="Max35Text_CH_pain008_2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="GenericOrganisationIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="Max35Text"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="Max35Text"/>
					<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupHeader39">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="InitgPty" type="PartyIdentification32"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader39_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="GroupHeader39">
				<xs:sequence>
					<xs:element name="MsgId" type="Max35Text_CH_pain008"/>
					<xs:element name="CreDtTm" type="ISODateTime"/>
					<xs:element name="NbOfTxs" type="Max15NumericText"/>
					<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
					<xs:element name="InitgPty" type="PartyIdentification32_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text_CH_pain008">
		<xs:restriction base="Max140Text">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`´~ ]|[!&quot;#%&amp;&lt;&gt;÷=@_$£]|[àáâäçèéêëìíîïñòóôöùúûüýßÀÁÂÄÇÈÉÊËÌÍÎÏÒÓÔÖÙÚÛÜÑ])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text_CH_pain008">
		<xs:restriction base="Max16Text">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`´~ ]|[!&quot;#%&amp;&lt;&gt;÷=@_$£]|[àáâäçèéêëìíîïñòóôöùúûüýßÀÁÂÄÇÈÉÊËÌÍÎÏÒÓÔÖÙÚÛÜÑ])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text_CH_pain008">
		<xs:restriction base="Max34Text">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`´~ ]|[!&quot;#%&amp;&lt;&gt;÷=@_$£]|[àáâäçèéêëìíîïñòóôöùúûüýßÀÁÂÄÇÈÉÊËÌÍÎÏÒÓÔÖÙÚÛÜÑ])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text_CH_pain008">
		<xs:restriction base="Max35Text">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;|\p{Zs}])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text_CH_pain008_2">
		<xs:restriction base="Max35Text">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`´~ ]|[!&quot;#%&amp;&lt;&gt;÷=@_$£]|[àáâäçèéêëìíîïñòóôöùúûüýßÀÁÂÄÇÈÉÊËÌÍÎÏÒÓÔÖÙÚÛÜÑ])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text_CH_pain008">
		<xs:restriction base="Max70Text">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`´~ ]|[!&quot;#%&amp;&lt;&gt;÷=@_$£]|[àáâäçèéêëìíîïñòóôöùúûüýßÀÁÂÄÇÈÉÊËÌÍÎÏÒÓÔÖÙÚÛÜÑ])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification4_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentification4">
				<xs:sequence>
					<xs:element name="Othr" type="GenericOrganisationIdentification1_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification4_CH_pain008_2">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentification4">
				<xs:sequence>
					<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
					<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OrgId" type="OrganisationIdentification4_CH_pain008"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Party6Choice_CH_pain008_2">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OrgId" type="OrganisationIdentification4_CH_pain008_2"/>
						<xs:element name="PrvtId" type="PersonIdentification5_CH_pain008"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Party6Choice_CH_pain008_3">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="PrvtId" type="PersonIdentification5_CH_pain008_2"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="Max140Text_CH_pain008" minOccurs="0"/>
					<xs:element name="Id" type="Party6Choice_CH_pain008"/>
					<xs:element name="CtctDtls" type="ContactDetails2_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_CH_pain008_2">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="Max140Text_CH_pain008"/>
					<xs:element name="PstlAdr" type="PostalAddress6_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_CH_pain008_3">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="Max140Text_CH_pain008" minOccurs="0"/>
					<xs:element name="PstlAdr" type="PostalAddress6_CH_pain008" minOccurs="0"/>
					<xs:element name="Id" type="Party6Choice_CH_pain008_2" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_CH_pain008_4">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Id" type="Party6Choice_CH_pain008_3"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_CH_pain008_5">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="Max140Text_CH_pain008" minOccurs="0"/>
					<xs:element name="PstlAdr" type="PostalAddress6_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification1">
		<xs:sequence>
			<xs:element name="InstrId" type="Max35Text"/>
			<xs:element name="EndToEndId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification1_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PaymentIdentification1">
				<xs:sequence>
					<xs:element name="InstrId" type="Max35Text_CH_pain008"/>
					<xs:element name="EndToEndId" type="Max35Text_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionInformation4">
		<xs:sequence>
			<xs:element name="PmtInfId" type="Max35Text"/>
			<xs:element name="PmtMtd" type="PaymentMethod2Code"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation20"/>
			<xs:element name="ReqdColltnDt" type="ISODate"/>
			<xs:element name="Cdtr" type="PartyIdentification32"/>
			<xs:element name="CdtrAcct" type="CashAccount16"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32"/>
			<xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformation9" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionInformation4_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PaymentInstructionInformation4">
				<xs:sequence>
					<xs:element name="PmtInfId" type="Max35Text_CH_pain008"/>
					<xs:element name="PmtMtd" type="PaymentMethod2Code"/>
					<xs:element name="PmtTpInf" type="PaymentTypeInformation20_CH_pain008"/>
					<xs:element name="ReqdColltnDt" type="ISODate"/>
					<xs:element name="Cdtr" type="PartyIdentification32_CH_pain008_2"/>
					<xs:element name="CdtrAcct" type="CashAccount16_CH_pain008"/>
					<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4_CH_pain008"/>
					<xs:element name="UltmtCdtr" type="PartyIdentification32_CH_pain008_3" minOccurs="0"/>
					<xs:element name="CdtrSchmeId" type="PartyIdentification32_CH_pain008_4"/>
					<xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformation9_CH_pain008" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentTypeInformation20">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation20_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PaymentTypeInformation20">
				<xs:sequence>
					<xs:element name="SvcLvl" type="ServiceLevel8Choice"/>
					<xs:element name="LclInstrm" type="LocalInstrument2Choice"/>
					<xs:element name="CtgyPurp" type="CategoryPurpose1Choice_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PersonIdentification5">
				<xs:sequence>
					<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
					<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5_CH_pain008_2">
		<xs:complexContent>
			<xs:restriction base="PersonIdentification5">
				<xs:sequence>
					<xs:element name="Othr" type="GenericPersonIdentification1_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PersonIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Prtry" type="Max35Text"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="PostalAddress6">
				<xs:sequence>
					<xs:element name="StrtNm" type="Max70Text_CH_pain008" minOccurs="0"/>
					<xs:element name="PstCd" type="Max16Text_CH_pain008" minOccurs="0"/>
					<xs:element name="TwnNm" type="Max35Text_CH_pain008_2" minOccurs="0"/>
					<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
					<xs:element name="AdrLine" type="Max70Text_CH_pain008" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation5_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="RemittanceInformation5">
				<xs:sequence>
					<xs:element name="Ustrd" type="Max140Text_CH_pain008" minOccurs="0"/>
					<xs:element name="Strd" type="StructuredRemittanceInformation7_CH_pain008" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation7_CH_pain008">
		<xs:complexContent>
			<xs:restriction base="StructuredRemittanceInformation7">
				<xs:sequence>
					<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2_CH_pain008"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
